:root {
--green: #5CDB95;
--blue: #05386B;
--white: #EDF5E1;


}
    body {
    font-family: 'SF Pro Text', 'SF Pro Icons', 'Helvetica Neue', 'Helvetica',
      'Arial', sans-serif;
    padding: 20px 20px 60px;
    color: var(--white);
    background-color: var(--green);
    margin: 0 auto;
  }